@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* /=============================== */

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /* Place behind other content */
}

.animated-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 1px,
      transparent 1px
    )
    center/20px 20px;
  animation: moveDots 20s linear infinite;
}

@keyframes moveDots {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* ==================Loading page================= */

.spinner {
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.spinner::before {
  width: 15.7px;
  height: 15.7px;
  background: #474bff;
}

.spinner::after {
  width: 56px;
  height: 56px;
  animation: spinner-y7ej37 1s infinite linear;
  border: 11.2px solid #474bff;
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes spinner-y7ej37 {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ==================Loading page================= */
